/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/


* {
  font-family: 'Open Sans', sans-serif;
}

section {
  display: flex;
  width: 90%;
  margin: 40px auto;
  justify-content: center;
  align-items: center;
}

.title {
  flex-direction: column;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  width: 612px;
  height: 612px;
}

.box {
  background: #5a5a5a;
  width: 200px;
  height: 200px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
  border-radius: 10px;
  color: whitesmoke;
}

.box:hover {
  transition: .4s;
  transform: scale(1.08);
  background: #a5a3a3;
}

.winClass {
  background-color: rgb(218, 218, 23);
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.resetButton {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resetButton button {
  font-size: 25px;
  padding: 5px 25px;
  cursor: pointer;
}